p, h4 {
	font-family: "Times New Roman";
}

table{
	font-family: "Times New Roman";
}

blockquote{
	font-family: "Didot";

}
.block{
	border-left: 5px solid purple;
}

footer{
	font-family: "Didot";
}

span {
	font-family: "Didot";
}